# -*- mode: snippet -*-
# name: Tell clang to ignore warnings in this section
# key: clangignore
# --
#pragma clang diagnostic push
#pragma clang diagnostic ignored "$1"
$0
#pragma clang diagnostic pop