[submodule "emacs.d/emacs-for-python"]
	path = emacs.d/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python.git
[submodule "emacs.d/el-get"]
	path = emacs.d/el-get
	url = https://github.com/dimitri/el-get.git
