[submodule "emacs.d/emacs-for-python"]
	path = emacs.d/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python.git
[submodule "emacs.d/el-get"]
	path = emacs.d/el-get
	url = https://github.com/dimitri/el-get.git
[submodule "emacs.d/yaml-mode"]
	path = emacs.d/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "emacs.d/markdown-mode"]
	path = emacs.d/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "emacs.d/emacs-flymake"]
	path = emacs.d/emacs-flymake
	url = https://github.com/illusori/emacs-flymake.git
[submodule "emacs.d/lintnode"]
	path = emacs.d/lintnode
	url = https://github.com/davidmiller/lintnode.git
[submodule "emacs.d/json-mode"]
	path = emacs.d/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule "emacs.d/coffee-mode"]
	path = emacs.d/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "emacs.d/flymake-coffee"]
	path = emacs.d/flymake-coffee
	url = https://github.com/purcell/flymake-coffee.git
[submodule "emacs.d/flymake-easy"]
	path = emacs.d/flymake-easy
	url = https://github.com/purcell/flymake-easy.git
[submodule "emacs.d/floobits"]
	path = emacs.d/floobits
	url = https://github.com/Floobits/floobits-emacs.git
[submodule "emacs.d/go-mode.el"]
	path = emacs.d/go-mode.el
	url = https://github.com/dominikh/go-mode.el.git
[submodule "emacs.d/goflymake"]
	path = emacs.d/goflymake
	url = https://github.com/dougm/goflymake.git
[submodule "emacs.d/gocode"]
	path = emacs.d/gocode
	url = https://github.com/nsf/gocode.git
[submodule "emacs.d/company"]
	path = emacs.d/company
	url = https://github.com/company-mode/company-mode.git
[submodule "emacs.d/go-errcheck"]
	path = emacs.d/go-errcheck
	url = https://github.com/dominikh/go-errcheck.el.git
[submodule "emacs.d/dockerfile-mode"]
	path = emacs.d/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "emacs.d/color-theme-solarized"]
	path = emacs.d/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "emacs.d/monokai-theme"]
	path = emacs.d/monokai-theme
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
