[submodule "emacs.d/emacs-for-python"]
	path = emacs.d/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python.git
[submodule "emacs.d/el-get"]
	path = emacs.d/el-get
	url = https://github.com/dimitri/el-get.git
[submodule "emacs.d/rosemacs"]
	path = emacs.d/rosemacs
	url = https://kforge.ros.org/rosemacs/git
[submodule "emacs.d/yaml-mode"]
	path = emacs.d/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "emacs.d/markdown-mode"]
	path = emacs.d/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "emacs.d/emacs-flymake"]
	path = emacs.d/emacs-flymake
	url = https://github.com/illusori/emacs-flymake.git
[submodule "emacs.d/lintnode"]
	path = emacs.d/lintnode
	url = https://github.com/davidmiller/lintnode.git
[submodule "emacs.d/json-mode"]
	path = emacs.d/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule "emacs.d/coffee-mode"]
	path = emacs.d/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "emacs.d/flymake-coffee"]
	path = emacs.d/flymake-coffee
	url = https://github.com/purcell/flymake-coffee.git
[submodule "emacs.d/flymake-easy"]
	path = emacs.d/flymake-easy
	url = https://github.com/purcell/flymake-easy.git
[submodule "emacs.d/floobits"]
	path = emacs.d/floobits
	url = https://github.com/Floobits/floobits-emacs.git
[submodule "emacs.d/go-mode.el"]
	path = emacs.d/go-mode.el
	url = https://github.com/dominikh/go-mode.el.git
[submodule "emacs.d/goflymake"]
	path = emacs.d/goflymake
	url = https://github.com/dougm/goflymake.git
